@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(0, 119, 255);
}

.wrapper {
    width: 370px;
    padding: 30px;
    border-radius: 7px;
    background-color: white;
}

.wrapper header{
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrapper form {
    margin: 40px 0 20px 0;
}

form :where(input, select, button){
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}

form input{
    width: 90%;
}

form p{
    font-size: 18px;
    margin-bottom: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form input {
    height: 50px;
    padding: 0 15px;
    font-size: 17px;
    border: 1px solid #999;
}

form input:focus{
    padding: 0 14px;
    border: 2px solid #675Afe;
}

form .drop-list {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-around;
}
.drop-list .select-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 115px;
    border-radius: 5px;
    border: 1px solid #999;
}

.select-box select {
    width: auto;
    font-size: 16px;
    margin: 0 15px;
}

.select-box img {
    max-width: 25px;
}

.drop-list .icon {
    cursor: pointer;
    font-size: 22px;
    margin-top: 30px;
}

form .exchange-rate{
    font-size: 17px;
    margin: 20px 0 30px;
}

form button {
    height: 52px;
    color: #fff;
    font-size: 17px;
    background-color: #675Afe;
    cursor: pointer;
}

@media  screen and (min-width: 390px) and (max-width:844px){

    *{
        margin: 0;
        padding: 0;
    }
    
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-color: rgb(0, 119, 255);
    }
    
    .wrapper {
        width: 78%;
        padding: 30px;
        border-radius: 7px;
        background-color: white;
    }
    
    .wrapper header{
        font-size: 28px;
        font-weight: 500;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    
    .wrapper form {
        margin: 40px 0 20px 0;
    }
    
    form :where(input, select, button){
        width: 100%;
        outline: none;
        border: none;
        border-radius: 5px;
    }
    
    form input{
        width: 90%;
    }
    
    form p{
        font-size: 18px;
        margin-bottom: 5px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    
    form input {
        height: 50px;
        padding: 0 15px;
        font-size: 17px;
        border: 1px solid #999;
    }
    
    form input:focus{
        padding: 0 14px;
        border: 2px solid #675Afe;
    }
    
    form .drop-list {
        display: flex;
        align-items: center;
        margin-top: 20px;
        justify-content: space-around;
    }
    .drop-list .select-box{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 115px;
        border-radius: 5px;
        border: 1px solid #999;
    }
    
    .select-box select {
        width: auto;
        font-size: 16px;
        margin: 0 15px;
    }
    
    .select-box img {
        max-width: 25px;
    }
    
    .drop-list .icon {
        cursor: pointer;
        font-size: 22px;
        margin-top: 30px;
    }
    
    form .exchange-rate{
        font-size: 17px;
        margin: 20px 0 30px;
    }
    
    form button {
        height: 52px;
        color: #fff;
        font-size: 17px;
        background-color: #675Afe;
        cursor: pointer;
    }
}